<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<script th:inline="javascript">
    function submitForm() {
        var userDto = {
            username: document.getElementById("username").value,
            password: document.getElementById("password").value
        };

        fetch('/authorization', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(userDto)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                console.log(data); // Handle response data if needed
                // You can redirect or perform other actions here
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            });
    }
</script>

<form>
    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    <button type="button" onclick="submitForm()">Submit</button>
</form>
</body>
</html>